In [29]:
import pandas as pd
table = pd.DataFrame()

table_raw = [
    [None,  None,                       0],
    [6.20,  'pay_lesson',                60],
    [6.20,  'living_0631',              -15],
    [6.25,  'insurance',                -6],
    [6.25,  'pay_academy',               60],
    [6.27,  'mobile and internet',      -17],
    [7.01,  'apt_managements_2months',  -35],
    [7.01,  'subscription_deposit',     - 2],
    [7.04,  'coupang',                  - 1],
]
table = pd.DataFrame(table_raw, columns=['day', 'label', 'change'])

initial_balance = 0
table['balance'] = [initial_balance] + table['change'][1:].cumsum().tolist()

table['balance'] = table['change'].cumsum()
table

    day                    label  change  balance
0   NaN                     None       0        0
1  6.20               pay_lesson      60       60
2  6.20              living_0631     -15       45
3  6.25                insurance      -6       39
4  6.25              pay_academy      60       99
5  6.27      mobile and internet     -17       82
6  7.01  apt_managements_2months     -35       47
7  7.01     subscription_deposit      -2       45
8  7.04                  coupang      -1       44

In [17]:
(initial_balance + table['change'][1:].cumsum()).tolist()

[60.0, 45.0, 39.0, 99.0, 82.0, 47.0, 45.0, 44.0]

In [22]:
(initial_balance+table['change'][1:].cumsum()).tolist()

[60.0, 45.0, 39.0, 99.0, 82.0, 47.0, 45.0, 44.0]

In [26]:
[initial_balance] + table['change'][1:].cumsum().tolist()

[0, 60.0, 45.0, 39.0, 99.0, 82.0, 47.0, 45.0, 44.0]